*, *:before, *:after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
 body {
   font-family: Helvetica;
   background: #fff;
}
 input, button {
   border: none;
   outline: none;
   background: none;
   font-family: Helvetica;
}
 .cont {
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 900px;
    height: 550px;
    margin: 0 auto 100px;
    background: #fff;
}
 .form {
   position: relative;
   width: 500px;
   height: 100%;
   transition: transform 1.2s ease-in-out;
   padding: 50px 30px 0;
}
 .subcont {
   overflow: hidden;
   position: absolute;
   left: 500px;
   top: 0;
   width: 900px;
   height: 100%;
   padding-left: 400px;
   background: #fff;
   transition: transform 1.2s ease-in-out;
}
 .cont.signup .subcont {
   transform: translate3d(-500px, 0, 0);
}
 button {
   display: block;
   margin: 0 auto;
   width: 260px;
   height: 36px;
   border-radius: 30px;
   color: #fff;
   font-size: 15px;
   cursor: pointer;
}
 .img {
   overflow: hidden;
   z-index: 2;
   position: absolute;
   left: 0;
   top: 0;
   width: 400px;
   height: 100%;
   padding-top: 360px;
}
 .img:before {
   content: '';
   position: absolute;
   right: 0;
   top: 0;
   width: 900px;
   height: 100%;
   background-image: url('https://i.pinimg.com/564x/1a/e0/e5/1ae0e5274f6ff89884e31ca97dd7cfe9.jpg');
   background-size: cover;
   transition: transform 1.2s ease-in-out;
}
 .img:after {
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.2);
}
 .cont.signup .img:before {
   transform: translate3d(500px, 0, 0);
}
 .img__text {
   z-index: 2;
   position: absolute;
   left: 0;
   top: 50px;
   width: 100%;
   padding: 0 20px;
   text-align: center;
   color: #fff;
   transition: transform 1.2s ease-in-out;
}
 .img__text h2 {
   margin-bottom: 10px;
   font-weight: normal;
}
 .img__text p {
   font-size: 14px;
   line-height: 1.5;
}
 .cont.signup .img__text.mp {
   transform: translateX(800px);
}
 .img__text.mn {
   transform: translateX(-800px);
}
 .cont.signup .img__text.mn {
   transform: translateX(0);
}
 .img__btn {
   overflow: hidden;
   z-index: 2;
   position: relative;
   width: 100px;
   height: 36px;
   margin: 0 auto;
   background: transparent;
   color: #fff;
   text-transform: uppercase;
   font-size: 15px;
   cursor: pointer;
}
 .img__btn:after {
   content: '';
   z-index: 2;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border: 2px solid #fff;
   border-radius: 30px;
}
 .img__btn span {
   position: absolute;
   left: 0;
   top: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   transition: transform 1.2s;
}
 .img__btn span.mn {
   transform: translateY(-72px);
}
 .cont.signup .img__btn span.mn {
   transform: translateY(0);
}
 .cont.signup .img__btn span.mp {
   transform: translateY(72px);
}
 h2 {
   width: 100%;
   font-size: 26px;
   text-align: center;
}
 label {
   display: block;
   width: 260px;
   margin: 25px auto 0;
   text-align: center;
}
 label span {
   font-size: 12px;
   color: #b8b2b2;
   text-transform: uppercase;
}
 input {
   display: block;
   width: 100%;
   margin-top: 5px;
   padding-bottom: 5px;
   font-size: 16px;
   border-bottom: 1px solid rgba(0, 0, 0, 0.4);
   text-align: center;
}
 .forgot-pass {
   margin-top: 15px;
   text-align: center;
   font-size: 12px;
   color: #b9707b;
}
 .submit {
   margin-top: 40px;
   margin-bottom: 20px;
   background: #b9707b;
   text-transform: uppercase;
}
 .in {
   transition-timing-function: ease-out;
}
 .cont.signup .in {
   transition-timing-function: ease-in-out;
   transition-duration: 1.2s;
   transform: translate3d(500px, 0, 0);
}
 .up {
   transform: translate3d(-900px, 0, 0);
}
 .cont.signup .up {
   transform: translate3d(0, 0, 0);
}